name: golangci-lint
on:
  push:
  pull_request:
  schedule:
    - cron: '49 4 20 * *'

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Make sure OS-specific targets all build and pass.
        goos: [linux, darwin, windows, freebsd, openbsd]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Set GOOS environment variable
        run: echo "GOOS=${{ matrix.goos }}" >> $GITHUB_ENV
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
